/* Width */
::-webkit-scrollbar {
  width: 16px;
}

/* Handle */
/* Thumb */
::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #656566;
  /* creates padding around scroll thumb */
  border: 4px solid transparent;
  background-clip: padding-box;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7fafc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9c9ea0;
  background-clip: padding-box;
}
